@media (max-width: 740px){
    #nav >li{
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav .subnav{
        position: initial;
    }
    #content .member-item {
        margin-left: 48px;
    }
    #content .tickets-list li {
        width: auto;
    }
    .content-section .about-text {
        margin: 16px;
    }
    #content .member-name {
        margin-top: 30px;
        margin-bottom: 12px;
    }
    .row {
        display: table-row;
    }
    input[type="Submit"] {
        width: 100%;
    }
    .place-item {
        float: left;
        width: auto;
        /* margin: 0px -8px; */
        margin: 16px;
    }
    #header{
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn:hover{
        background-color: rgb(33, 65, 161);
    }
    #header .mobile-menu-btn{
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(255, 255, 255, 0.681);
        cursor: pointer;
        padding:0 20px;
        display: inline-block;
        line-height: 46px;
    }
    #nav li:nth-child(1){
        display: inline-block;
    }
}    
@media (min-width: 740px) and (max-width:1023px) {
    #content .member-list{
        display: flex;
    
    }
}