* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
body > div{
    margin: auto;
}
.button{
    min-width: 200px;
    display: inline-block;
    font-size: 40px;
    border-radius: 20px;
    transition: 3s ease;
    cursor: pointer;
    text-align: center;
    box-shadow: 10px 10px 10px ;
    opacity: 0;
    /* margin-top: 300px; */
}
.button:hover{
    background-image: linear-gradient(to right ,rgb(222, 122, 210), rgb(196, 26, 49));
    opacity: 1;
}
.button + .button{
    margin-left: 30px;
}
.button--success{
    background-color: rgb(191, 53, 18);
}
.button--erro{
    background-image: linear-gradient(to right, rgb(111,121,111), rgb(122,222,212));
}

