*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#main{
    background-color: aliceblue;
    overflow: hidden;
}
.clear{
    clear: both;
}
/* header----------------------------------------------------- */
#header{
    width: 100%;
    height: 46px;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}
#header .open{
    height: auto;
}
/* ten menu -------------------------------------------------*/
#nav{
    cursor: pointer;
}
#nav > li > a{
    text-transform: uppercase;
}
#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav >li:hover >a
{
    color: black;
    background-color: rgba(255, 255, 255, 0.564);

}
#nav >li{
    display: inline-block;
}
#nav li{
    position: relative;
}
/* subnav----------------------------------------------------------- */
#nav .subnav{
    position:absolute;
    list-style-type: none;
    color: black;
    display: none;
}
#nav .subnav a {
    padding: 0 14px;
    color: black;
    min-width: 160px;
}
#nav .subnav a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.756);

}
#nav li:hover .subnav{
    display: block;
    background-color: rgb(138, 124, 124);
    box-shadow: 10px;
}
/* nut tim kiems-------------------------------------------------  */
#header .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.681);
    cursor: pointer;
    padding:0 20px;
    display: inline-block;
    line-height: 46px;
}
#header .search-btn:hover{
    background-color: coral;
}
div#mobile-menu {
    display: none;
}

/* background---------------------------------------------------- */
#slider{
    padding-top: 50%;
    background: url(https://images7.alphacoders.com/725/thumb-1920-725615.jpg) top center /cover no-repeat;
    position: relative;
}
/* content-slider------------------------------------------------- */
#slider .text-content{
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
}
#slider .text-heading{
    margin: 25px;
}
/* #slider .text-description{

} */
/* noi dung--------------------------------------------------------- */
#content{

}
/* section---------------------------------------------------------- */
.content-section{
    width: 800px;
    max-width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.content-section .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 45px;
}
.content-section .section-sub-heading{
    text-align: center;
    padding: 25px 0;
    font-style: italic;
    font-size: 15px;
    opacity: 0.5;
}
.content-section .about-text{
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
    margin: 16px;
}
/* member-img------------------------------------------------- */
#content .member-list{
    margin-top: 48px;
    overflow: hidden;

}
#content .member-item{
    float: left;
    /* width: 33,333%; */
}
#content .member-img{
    /* width: 33,333%; */
    height: 154px;
    border-radius: 4px;
    margin: 0px 56px;
}
#content .member-name{
    text-align: center;
    margin: 15px 0px;
}
/* tour section-----------------------------------------------÷ */
#content .tour-section{
    background-color: black;
    color: white;
    padding-top: 30px;
}
#content .tickets-list{
    margin-top: 30px;
    padding-bottom: 30px;
}
#content .tickets-list li{
    width: 800px;
    background-color: white;
    color: black;
    padding: 8px 16px;
    line-height: 22px;
    color: #757575;
    border:  1px solid #ddd;
    list-style-type:none;
}
#content .sold-out{
    background-color: #f44336;
    color: white;
    margin-left: 16px;
    padding: 2px 8px;
}
#content .quantity{
    background-color: black;
    color: white;
    border-radius: 50%;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 16px;
    line-height: 24px;
}
.places-list{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
.place-item{
    float: left;
    width: 33.33%;
    padding: 0px 8px;
    /* margin: 0px -8px; */
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: white;
    padding: 16px;
    color: black;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    opacity: 0.5;
    margin: 15px 0px;
}
.place-desc{
    line-height: 1.4;
}
.place-buy-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
}
.place-buy-btn:hover{
    background-color: #bab7b7;
    color: black;
}
#footer{
    
}
/* modal----------------------------------------------------- */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.7);
}
.modal.js-modal.open {
    display: flex;
}
.modal.modal-close .js-modal-close{
    display: none;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    position: relative;
    max-width: calc(100%-32px);
    animation: modalFadein ease 0.4s;
}
.modal-header{
    height: 140px;
    color: #fff;
    background-color: rgb(10, 140, 97);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;   
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    padding: 6px;
}
.modal-close:hover{
    background-color: #f44336;
}

.modal-body {
    padding: 16px;
}
.modal-label{
    display: block;
}
.modal-input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0px;
}
#buy-tickets {
    width: calc(100% - 32px);
    padding: 16px;
    background-color: rgb(14, 151, 105);
    border: none;
    margin: 0px 16px;
    cursor: pointer;
    font-weight: 600;
}
#buy-tickets:hover{
    background-color: #757575;
    color: white;
}
.modal-help {
    padding: 16px;
    float: right;
}
/* contac form----------------------------------------------- */
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col{
    float: right;
    width: 100%;
}
.row{
    overflow: hidden;
    display: flex;
}
.row.col-half {
    display: block;
}

.row .col-half p {
    margin-bottom: 10px;
    font-size: 18px;
}
.fa-location-dot:before, .fa-map-marker-alt:before {
    content: "\f3c5";
}
::before {
    margin-right: 10px;
}
input.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}
input[type="Submit"] {
    float: right;
    /* margin: 20px; */
    padding: 8px;
    margin-top: 20px;
    background-color: black;
    COLOR: white;
     text-transform: uppercase;
    cursor: pointer;
    border: none;
}
input[type="Submit"]:hover{
    color: #1b2acf;
    background-color: #757575;
}
/* foooter----------------------------------- */
/* .map-footer{
    width: 100vh;
    object-fit: cover;
} */
img.map-img {
    width: 100%;
}
.footer-list{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;

}
.footer-list a {
    text-decoration: none;
    color: #000000;
}
.footer-list a:hover{
    opacity: 0.4;
}
.footer-power{
    text-align: center;
    text-decoration: none;
    color: #757575;
    margin-bottom: 100px;
}
.footer-power p {

    color: #757575;
}
.footer-power a {
    color: #757575;

}
@keyframes modalFadein{
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* tablet */
@media (max-width: 800px){
    .row.col-half {
        display: block;
        width: 100%;
        margin-right: 30px;
        margin-left: 10px;
    }
}
/* ngày chỉnh sửa 05/03/2022 */
#content .tickets-list li:first-child {
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#content .tickets-list li:last-child {
    width: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
