.header{
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
}
.header__up{
    display: flex;
    width: 1140px;
    height: 85px;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
.header__up-logo{
    margin: auto 0;
    cursor: pointer;
}
.header__up-logo-img{
    object-fit: contain;
}
.header__up-list {
    display: flex;
    margin-left: auto;
    text-align: center;
}
.header__up-list-item{
    margin: auto 0;
    margin-left: 10px;
    margin-right: 5px;
}
.header__up-list-item-name{
    font-size: 1.4rem;
    color: white;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    top: -5px;
}
.header__up-list-item-name:hover{
    text-decoration: revert;
}
.header__up-list-item-img-apple{
    width: 93px;
    height: 32px;
}
.header__up-list-item-img-phone{
    width: 18px;
    height: 19px;
}
.header__up-list-item-img-location{
    width: 14px;
    height: 22px;
}
.header__up-list-item-icon{
    font-size: 2.2rem;
    color: white;
    margin: 0 20px;
    margin-right: 30px;
    position: relative;
}
.header__up-list-item-icon-number{
    width: 20px;
    height: 18px;
    background-color: #d8534f;
    position: absolute;
    color: black;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 1px solid;
    color: black;
    top: 19px;
    right: 2%;
}
/* header__menu */
.header__menu{
    width: 100%;
    height: 62px;
    background-color: black;
    position: absolute;
    top: 85px;
    display: flex;
    justify-content: center;
}
.header__menu-has {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.header__menu-logo{
    width: 36px;
    line-height: 78px;
    height: 23px;
}
.header__menu-list{
    display: flex;
    justify-content:flex-end;
}
.header__menu-list-item a{
    align-items:center;
    color:#f7f4f4;
    display:flex;
    font-size: 1.6rem;
    justify-content:space-between;
    line-height:8px;
    text-decoration: none;
    margin:5px 16px;
    font-weight: 200;
}
.header__menu-list-item{
    display: flex;
}
.header__menu-search-icon{
    font-size: 1.6rem;
    color: #d8534f;
    position: absolute;
    top: 23px;
    right: 159px;
    cursor: pointer;
}
.header__menu-search-wrap{
    line-height: 64px;
}
.header__menu-search{
   margin-left: 40px;
}
.header__menu-search-input{
    width: 186px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    font-size: 1.5rem;
    padding: 0 10px;
}
/* header__item-list-iphone */
.header__item-list-iphone{
    display: flex;
    margin: 5px;
    position: absolute;
    top: 57px;
    right: -5px;
    background-color: white;
    width: 100%;
    padding-bottom: 30px;
    box-shadow: 0px 56px 56px rgba(0, 0, 0, 0.3);
    display: none;
    animation: listIphone linear 0.3s;
}
@keyframes listIphone{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
/* quantrong? */
.iphone:hover .header__item-list-iphone{
    display: flex;
}
.item {
    margin-top: 20px;
}
.header__item-iphone{
    width: 12.5%;

}
.header__item-iphone-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}
.header__item-list-iphone-img{
    width: 96px;
    height: 114px;
    transform: scale(0.9);
    transition-duration: 0.3s;
    margin: 10px 0;
}
.header__item-list-iphone-name{
    text-align: center;
    
}
.header__item-list-iphone-img:hover{
    transform: scale(1);
    cursor: pointer;
}
.header__item-iphone-inside a{
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    line-height: 20px;
}
.container-select{
    width: 100%;
    margin-top: 62px;
}
.container-select-img{
    width: 101%;
}
.container{
    width: 100%;
}
/* .container__family */
.container__family{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}
.container__famimly-item {
    width: 380px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__famimly-item-img-base{
    width: 300px;
    height: 246px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.container__famimly-item-img{
    width: 216px;
    height: 216px;
    cursor: pointer;
}
.container__famimly-item-name{
    font-size: 2.2rem;
    text-decoration: none;
    color: black;
    font-weight: 200;
    margin-top: 36px;
    transition: color ease 0.5s;
}
.container__famimly-item-name:hover{
    color: blue;
}
.container__bussines-img{
    width: 100%;
}
.container__love-title{
    font-size: 4.6rem;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: 600;
    line-height: 46px;
}
.container__love{
    width: 100%;
    display: flex;
}
/* container__populated */
.container__populated{
    display: flex;
    justify-content: center;
}
.container__populated-item{
    width: 570px;
    height: 446px;
}
.container__populated-item-inside{
    margin: 5px;
}
.container__populated-item-img{
    width: 550px;
    height: 308px;
}
.container__populated-item-name{
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    transition: color linear 0.5s;
    text-align: center;
    line-height: 33px;
    display: block;
    margin: 20px 60px;
}
.container__populated-item-name:hover{
    color: blue;
}
/* container__policy */
.container__policy {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}
.container__policy-item {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}
.container__policy-img{
    font-size: 5rem;
    color: #333;
}
.container__policy-item > a{
    text-decoration: none;
    display: contents;
}
.container__policy-title{
    font-size: 2.5rem;
    line-height: 35px;
    color: #333;
    font-weight: 600;
}
.h3.container__policy-title {
    margin-top: 30px;
}
.container__policy-discription{
    font-size: 1.4rem;
    line-height: 26px;
    color: rgb(154, 143, 143);
}
/* container__sigin  */
.container__sigin {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding-top: 70px ;
    padding-bottom: 80px;
}
.container__sigin-content {
    text-align: center;
}
.container__sigin-content > h3{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-bottom: 10px;
}
.container__sigin-content > p{
    font-size: 1.4rem;
    line-height: 26px;
    color: #6e6e72;
}

.container__sigin-form {
    display: flex;
}
input.container__sigin-input {
    background-color: white;
    width: 362px;
    height: 47px;
    border-radius: 30px;
    font-size: 1.8rem;
    color: aquamarine;
    border: none;
}
.container__sigin-btn {
    width: 173px;
    height: 47px;
    border-radius: 30px;
    background-color: #0066cc;
    font-size: 1.8rem;
    display: flex;
    margin-left: 14px;
    justify-content: center;
    align-items: center;
    color: white;
}
.container__sigin-form > a{
    text-decoration: none;
    color: white;
}
/* footer */
.footer__list {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.footer-item-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p.footer-item-intro-discription {
    display: block;
    width: 233px;
    line-height: 26px;
    font-size: 1.4rem;
    text-align: justify;
    margin: 24px auto;
}
.footer-item-intro-social {
    margin-right: auto;
    font-size: 30px;
}
.footer-item-intro-icon{
    text-decoration: none;
    color: #818a91;
    list-style: none;
    
}
i.footer-item-intro-icon.fa-brands.fa-facebook {
    transition-duration: 0.3s;
}
i.footer-item-intro-icon.fa-brands.fa-facebook:hover {
    color: #0066cc;
    transform: scale(1.3);
}
.footer-item-intro-icon.fa-brands.fa-youtube {
    transition-duration: 0.3s;
    margin-left: 10px;
}
.footer-item-intro-icon.fa-brands.fa-youtube:hover {
    transform: scale(1.3);
    color: red;
}
/* footer-item-yield */
.footer-item-yield {
    display: flex;
    flex-direction: column;
}
.footer-item-yield > h3{
    font-size: 1.8rem;

}
a.footer-item-yield-name {
    font-size: 1.5rem;
    line-height: 40px;
    color: #333333;
}
a.footer-item-yield-name:hover{
    text-decoration: revert;
}
.footer-about-me{
    padding: 50px 0;
    text-align: center;
}
/* footer-about-me */
.footer-about-me-list{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    border-top: 1px solid #333333;

}
.footer-about-me-list a {
    text-decoration: none;
    color: #000000;
    margin:4px;
    display: inline-block;
    transform: scale(1);
    transition-duration: 0.4s;
}
.footer-about-me-list a:hover{
    transform: scale(1.3);
}
.footer-power p {
    font-size: 1.6rem;
}
.footer-power > p > a{
    text-decoration: none;
    color: #d8534f;
}
/* hieu ung icon */
i.fa-brands.fa-facebook-f:hover{
    color: #0066cc;
}
i.fa-brands.fa-instagram:hover {
    color: #d8534f;
}
i.fa-brands.fa-youtube:hover {
    color: red;
}
i.fa-brands.fa-twitter:hover {
    color: #0066cc;
}
i.fa-brands.fa-github:hover {
    color: deeppink;
}