.list-user-container {
    max-width: 500px;
        .list-user {
            .item {
                margin:0 auto;
                height: 40px;
                border:1px solid #ccc;
                cursor: pointer;
            }
            
        }
}
button{
    background-color: rgb(74, 74, 74);
}
